.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #707DA6;
  height: 64px;
  align-items: center;
  padding: 0 4.2rem 0 4.2rem;
}

.nav-left {
  display: flex;
  gap: 3rem;
}

.nav-right {
  display: flex;
  gap: 2.4rem;
}

.logo-icon {
  width: 6.5rem;
}

.nav-links {
  display: flex;
  margin-left: 0.5rem;
  gap: 4.5rem;
  list-style-type: none;
  font-size: 1.42rem;
  font-weight: 600;
}

.nav-links a {
  text-decoration: none;
  color: #FFEFC0;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}