.page {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 19px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 4.5px solid transparent;
    background-clip: content-box;
    background-color: #ADAAC6;
}

#filter-container {
    position: sticky;
    gap: 1.5rem;
    margin: 2rem 2rem 2rem 2.7rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    max-width: 230px;
    flex-grow: 1;
}

#price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-and-sort {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 1.5rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

#item-container {
    flex: 1;
    padding: 2rem;
}

#item-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.2rem;
    flex-shrink: 1;
}

.item-toy-card {
    height: 400px;
    flex: 0 1 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-toy-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.toggle-button {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-button span.rotated {
    transform: rotate(180deg);
}

.filter-label {
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 600;
    color: #697ca8;
}

.price-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

#min-price-filter,
#max-price-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-label {
    width: 30px;
    font-weight: 500;
}

.price-input {
    width: 7rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1.5rem;
}

.outer-filter-style {
    padding: 1.1rem 1.4rem 1.2rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #01236323;
    border-radius: 1.5rem;
    box-shadow: #0013411e 0px 4px 6px;
}

.chip-list {
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
}