.page {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

#filter-container {
    position: sticky;
    gap: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    max-width: 250px;
}

#price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-and-sort {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
}

#item-container {
    flex: 1;
}

#item-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.item-toy-card {
    height: 400px;
    flex: 0 1 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-toy-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.toggle-button {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-button span.rotated {
    transform: rotate(180deg);
}

.toy-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
}

.filter-label {
    font-size: 1.3rem;
    color: #717fa1;
}

.price-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

#min-price-filter,
#max-price-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-label {
    width: 30px;
    font-weight: 500;
}

.price-input {
    width: 7rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1.5rem;
}

.outer-filter-style {
    padding: 1.2rem 1.4rem 1.2rem 1rem;
    display: flex;
    flex-direction: column;
    border: #a5b1ce 3px dashed;
    background-color: #0023640e;
    border-radius: 1.5rem;
    box-shadow: #0013411e 0px 4px 6px;
}

.chip-list {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
}