<div class="page">
    <div id="filter-container">
        <div class="outer-filter-style">
            <button class="toggle-button" (click)="showTypes = !showTypes">
                <span class="filter-label"><strong>Type</strong></span>
                <span [class.rotated]="showTypes"><mat-icon>keyboard_arrow_down</mat-icon></span>
            </button>

            @if (showTypes) {
            <div class="chip-list">
                <mat-chip-listbox [formControl]="typeControl" multiple>
                    @for (type of types; track type.typeId) {
                    <mat-chip-option [value]="type">
                        {{ type.name }}
                    </mat-chip-option>
                    }
                </mat-chip-listbox>
            </div>
            }
        </div>

        <div id="gender-radio" class="outer-filter-style">
            <span class="filter-label"><strong>Gender</strong></span>
            <mat-radio-group [formControl]="genderControl">
                <mat-radio-button value="svi">Any</mat-radio-button>
                <mat-radio-button value="devojčica">Girl</mat-radio-button>
                <mat-radio-button value="dečak">Boy</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="outer-filter-style">
            <button class="toggle-button" (click)="showAgeGroups = !showAgeGroups">
                <span class="filter-label"><strong>Age</strong></span>
                <span [class.rotated]="showAgeGroups"><mat-icon>keyboard_arrow_down</mat-icon></span>
            </button>

            @if (showAgeGroups) {
            <div class="chip-list">
                <mat-chip-listbox [formControl]="ageGroupControl" multiple>
                    <mat-chip-option value="0-2">0-2</mat-chip-option>
                    <mat-chip-option value="3-5">3-5</mat-chip-option>
                    <mat-chip-option value="6-9">6-9</mat-chip-option>
                    <mat-chip-option value="10+">10+</mat-chip-option>
                </mat-chip-listbox>
            </div>
            }
        </div>

        <div class="outer-filter-style">
            <span class="filter-label"><strong>Price</strong></span>
            <div class="price-filter">
                <div id="min-price-filter"><span class="price-label">Min</span>
                    <input type="number" class="price-input" step="100" [formControl]="minPriceControl"
                        placeholder="npr. 1000">
                </div>

                <div id="max-price-filter"><span class="price-label">Max</span>
                    <input type="number" class="price-input" step="100" [formControl]="maxPriceControl"
                        placeholder="npr. 10000">
                </div>
            </div>
        </div>

        <button class="button" (click)="resetFilters()">Reset</button>
    </div>

    <div id="item-container">
        <div id="search-and-sort">
            <div id="search-container">
                <mat-form-field class="custom-rounded-styling">
                    <mat-label>Search</mat-label>
                    <input matInput type="search" [formControl]="searchControl" placeholder="Type to search">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>

            <div id="sort-container">
                <mat-form-field class="custom-rounded-styling">
                    <mat-label>Sort by</mat-label>
                    <mat-select [formControl]="sortControl">
                        <mat-option value="name">Name</mat-option>
                        <mat-option value="price">Price</mat-option>
                        <mat-option value="type.name">Category</mat-option>
                        <mat-option value="ageGroup.name">Age</mat-option>
                        <mat-option value="targetGroup">Gender</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <button mat-flat-button (click)="toggleSortDirection()">
                {{ sortDirectionControl.value === 'asc' ? 'Asc' : 'Desc'}}
            </button>
        </div>

        <div id="item-result">
            @for(toy of filteredToys; track toy.toyId){
            <mat-card class="item-toy-card custom-rounded-styling">
                <mat-card-header>
                    <mat-card-title>{{toy.name}}</mat-card-title>
                </mat-card-header>

                <mat-card-content class="card-body">
                    <img [src]="toy.imageUrl" alt="{{toy.name}}">

                    <mat-card-subtitle>
                        <div class="description">
                            <span class="description-text">{{toy.description}}</span>
                        </div>
                    </mat-card-subtitle>
                    <div class="stars">Toy review</div>
                    <div class="age-group">
                        <img src="" alt="age">
                    </div>

                    <div class="price-container">
                        <span class="price">{{toy.price}} RSD</span>

                        <button class="buy-btn button" type="button" (click)="addToCart(toy)">
                            <mat-icon>add_shopping_cart</mat-icon>
                            <span>Buy</span>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
            }
        </div>
    </div>
</div>