<div class="auth-wrap">
  <div class="auth-card">
    <h1>Promeni lozinku</h1>

    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form">

      <mat-form-field appearance="outline">
        <mat-label>Stara lozinka</mat-label>
        <input matInput type="password" formControlName="oldPassword" />
        @if (f.oldPassword.touched && f.oldPassword.invalid) {<mat-error >Obavezno polje!</mat-error>}
      </mat-form-field>

      <div formGroupName="passwordGroup" class="row">
        <mat-form-field appearance="outline">
          <mat-label>Nova lozinka</mat-label>
          <input matInput type="password" formControlName="newPassword" />
          <mat-hint>8+ karaktera, kombinujte slova i brojeve.</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Ponovite lozinku</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
          @if (form.get('passwordGroup')?.hasError('mismatch')) {<mat-error >Lozinke se ne poklapaju!</mat-error>}
        </mat-form-field>
      </div>

      <div class="messages">
        @if (message()) {<p class="ok">{{ message() }}</p>}
        @if (errorMsg()) { <p class="error">{{ errorMsg() }}</p>}
      </div>

      <div class="buttons">
        <button mat-raised-button color="primary" type="submit" [disabled]="saving() || form.invalid">
          {{ saving() ? 'Čuvanje...' : 'Sačuvaj' }}
        </button>

        <button mat-stroked-button type="button" (click)="back()">
          Nazad
        </button>
      </div>
    </form>
  </div>
</div>